#app{
 
  align-content: center;
  position:relative;
  align-items: center;
  padding:10px;
  background-color:#ecbaec;}
  
  h1 {
    text-align: center;
    color :#002fff;
    background:#ef6add ;
  }
  li {
    margin: 20;
  }